@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap");
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.demo_marquee-wrap {
  --demo-marquee_space: 2rem;
  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--demo-marquee_space);
  width: 100%;
  font-family: "Corben", system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.marquee {
  --demo-marquee_duration: 60s;
  --demo-marquee_gap: var(--demo-marquee_space);
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--demo-marquee_gap);
  transform: skewY(-3deg);
}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--demo-marquee_gap);
  min-width: 100%;
  animation: scroll var(--demo-marquee_duration) linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}
.marquee__group img {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
}
.marquee__group p {
  color: #29303e;
}
.marquee--borders {
  border-block: 3px solid #29303e;
  padding-block: 0.75rem;
}
.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: calc(var(--demo-marquee_duration) / -2);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--demo-marquee_gap)));
  }
}
